<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
            Homework
        {% endblock title %}
    </title>
   

</head>

{% block content %}
<body>
    <div>
        <h1> Homework</h1>
        <a href="{{ url_for('index') }}">Home Page</a>
        <a href="{{ url_for('requirements') }}">Requirements</a>
        <a href="{{ url_for('cosmo') }}">Cosmo</a>
        <a href="{{ url_for('file_csv') }}">CSV</a>
        <br><br>
        <h3>Для того что бы проверить скрипты на работоспособность с библиотекой base58, вам необходимо вписать: <br></h3>
        <hr>
        1. Encode <i>
        <br>
        [http://127.0.0.1:5000/base58/"сюда пишете что угодно"]
        <br>
        <hr>
        2. Decode
        <br>
        
        [http://127.0.0.1:5000/base58decode/"сюда пишите что угодно"]
        <hr>
        <br>

        3. Вывести `XX` случайно сгенерированных пользователей (имя и почту)
        <br><br>
        <h3>Для того, что бы скрипт заработал, нужно ввести в командную строку [http://127.0.0.1:5000/generate-users/"число"]</h3>
        <br><br>
        Например: <br>
        http://127.0.0.1:5000/generate-users/12


        
        

    </div>
        
     
{% endblock content %}

</body>
</html>